.profile-container {
  padding: 50px;

  .avatar-holder {
    margin-bottom: 24px;
    text-align: center;

    img {
      width: 104px;
      height: 104px;
      margin-bottom: 20px;
    }
  }

  .main-col {
    padding-left: 12px;
    padding-right: 12px;
  }
}
