.ant-layout-header {
  background-color: black !important;
  opacity: 0.6;

  .ant-menu {
    background-color: black !important;

    .menu-item {
      color: white;
      font-weight: 500;

      &.ant-menu-item-active {
        border-bottom: 1px solid !important;
      }
    }
  }
}
