.movie-detail {
  margin-top: -65px;

  .top-section {
    width: 100%;
    height: 80vh;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 150px;

    .movie-detail-header {
      display: flex;
      flex-direction: column;
      padding: 0 20%;
      height: 100%;
      color: white;

      .movie-detail-header-info {
      }

      .movie-detail-header-title {
        color: white;
        margin: 15px 0;
      }

      .watch-now {
        margin-top: 15px;
        max-width: 200px;
        display: flex;
      }
    }
  }

  .movie-content {
    width: 80%;
    margin: -100px 10% 0;
    background: white;
    height: 100%;

    .movie-content-header {
      background-color: #E32B37;
      padding: 10px 10% 10px 300px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .date {
        color: white;
        font-size: 25px;
        font-weight: bolder;
      }

      .header-rating {
        span {
          color: #00000085;
          font-weight: 500;
        }

        span:first-child {
          font-weight: bolder;
          color: white;
          font-size: 25px;
        }
      }
    }

    .main-detail-container {
      display: flex;
      flex-direction: row;
      padding: 0 20px;

      .movie-cover {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        top: -30px;
        max-width: 200px;
        width: 100%;
        height: 100%;

        &-pic{
          width: 100%;
          height: 100%;
        }
      }
    }

    .info-block {
      display: flex;
      flex-direction: column;
      margin-left: 20px;
      margin-top: 10px;
    }
  }
  .comment-list{
    padding: 0 30px;
  }
}
