.auth.login-form {
  max-width: 400px;
  margin: auto;
  background: white;
  padding: 50px;
  border-radius: 10px;

}
.login-form-forgot {
  float: right;
}
.ant-col-rtl .login-form-forgot {
  float: left;
}
.login-form-button {
  width: 100%;
}
