.movie-card {
  max-width: 650px;
  padding: 10px;

  &.wide{
    .movie-card-cover {
      max-height: 200px;
      max-width: 350px;
      min-height: 200px;
    }
  }

  &.height-limited {
    .movie-card-cover {
      max-height: 480px;
      max-width: 350px;
      min-height: 400px;
    }
  }

  &-cover {
    width: 100%;
    height: 100%;
    border-radius: 25px;
  }

  &-info {
    padding: 15px 0;
    max-width: 350px;
  }

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .ant-typography{
      margin-right: 10px;
    }

    &-extra {
      font-size: 12px;
      color: grey;
      max-width: 100px;


      & span:first-child {
        margin-right: 10px;
      }
    }
  }

  &-subheader {
    & span:first-child {
      margin-right: 10px;
    }
  }

  .rating {
    margin-top: 5px;

    .anticon.anticon-star {
      color: #FC8F3E;
      margin-right: 5px;
    }

    span:nth-child(2) {
      margin-right: 10px;
    }
  }
}
