
.booking-top-section{
  width: 50%;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  display: none;
}
.text-center{
  text-align: center;
}
.seat-content {
  display: flex;
  justify-content: center;

  .loader {
    z-index: 1;
  }

  .seat {
    &.seat--selected {
      background: url(http://localhost:3000/seat-selected.svg) !important;
      height: 30px;
      width: 30px;
    }

    &.seat--enabled {
      background: url(http://localhost:3000/seat.svg) !important;
      height: 30px;
      width: 30px;
    }

    &.seat--reserved {
      background: url(http://localhost:3000/seat.svg) !important;
      height: 30px;
      width: 30px;
      filter: grayscale(1);
    }

    .seat__number {
      font-size: 10px !important;
      padding-bottom: 10px !important;
    }
  }
}

.days-list, .seances-list {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;

  .today, .seance {
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }
}
