.today {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 75px;
  height: 90px;
  background: #e9effd;
  //background: #ffb900;
  border-radius: 15px;
  padding: 10px 0;
  cursor: pointer;

  &.active {
    background: #ffb900;
    .top-dot{
      background: #fff6d9;
    }
    .day-number{
      color: #ffffff;
    }
    .day-name {
      color: #fedb7b;
    }
  }

  .top-dot {
    background: #ffffff;
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }

  .day-number {
    color: #80868f;
    font-size: 18px;
    font-weight: 500;
  }

  .day-name {
    color: #c6ccd8;
  }
}
