/* For demo */
.home-content{
  .ant-skeleton{
    max-width: 350px;
  }
}
.ant-carousel {
  height: 70vh;
  max-height: 70vh;
}
.ant-carousel .slick-slide {
  text-align: center;
  height: 70vh;
  max-height: 70vh;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}
